@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


  /* font-family: "DM Sans", sans-serif;
    font-family: "Inter", sans-serif; */
    :root {
        font-family: "Inter";
  --primary-blue: #0c78c6a9;
  --light-blue: #e6efff;
  --white: #ffffff;
  --text-gray: #555;
  --black:black;
}

*{
    /* font-family: "DM Sans"; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}